
.hermann-first{
  text-align: right;
  display: inline-block;
}



h1{
  margin-top: 0;
  margin: auto;
  font-family: "Sacramento";
  color: #66BFBF;
  font-size: 5.73rem;
  text-align: center;
}

h2{
  color: #66BFBF;
  font-family: "Open Sans";
  font-size: 2.5rem;
  text-align: center;
}


h3{
  color: #66BFBF;
  font-family: "Open Sans";
  font-size: 1.3rem;
}

h4 {
  color: #66BFBF;
  font-family: "Merriweather";
}

p{
  color: #40514E;
  font-family: "Merriweather";
}

hr{
  width: 5%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 7px dotted #bdc7c9;
  height: 0;
  margin: 50px auto;
}


body{
  margin: 0;
  text-align:  center;
  font-family: "Verdana", sans-serif;
  height: 100%;
}

html{
  height: 100%;
}

.pro{
  text-decoration: underline;
  font-weight:  bold;
}


.top_container {
  position: relative;
  padding-top: 100px;
  background-color: #EAF6F6;
  text-align: right;
}
.skill-row {
  width: 50%;
  margin: 0 auto 200px auto;
  text-align: left;
  line-height: 2;

}

.skill-img-left {
  width: 25%;
  float: left;
  margin: 0 30px;
}
.skill-img-right {
  width: 25%;
  float: right;
  margin: 0 30px;
}

.bottom-container{
  background-color: #66BFBF;
  padding: 0;
  min-height: 25%;
}

.footer-link{
  margin: 100px 25px 0 25px;
}

#bottom-cr{
  margin-bottom: 0;
}


a{
  margin: 20 0 0 0;
  color: #11999E;
  text-decoration: none;
}

.footer-link:hover{
  color: white;
}

a:hover{
  color: lightblue;
}



.skill-img-left:hover, .skill-img-right:hover {
  filter: opacity(80%);
  width: 25.05%;
}
