@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lekton:ital,wght@0,400;0,700;1,400&family=Lexend:wght@100..900&family=Prata&family=Sora:wght@100..800&family=Syne:wght@400..800&display=swap');
@font-face {
    font-family: FS Meridian;
    src: url(/assets/fonts/FSMeridian.ttf);
} 

body{
    font-size: var(--medium-font);
    color: var(--text-color);
    font-family: var(--text-font);
    background-color: var(--background-color);
}

h1, h2, h3, h4, h5, h6{
    font-weight: normal;
    font-family: var(--display-font);
}

a{
    color: var(--link-color);
    display: inline-flex;
    text-decoration: none;
    transition: filter 140ms;
}

a:not(.noarrow)::after{
    content: url('icons/arrow_right.svg');
    display: inline-flex;
    align-items: center;
    margin-bottom: 2px;
    transition: transform 100ms;
    height: 32px;
    aspect-ratio: 1;
}

a:hover::after{
    transform: translateX(1px);
}

a:hover{
    filter: brightness(80%);
}

a:visited{
    color: var(--link-color);
}

.banner{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: var(--small-font);
}

.banner .content{
    margin-left: 8px;
    margin-right: 16px;
}

.banner .info{
    font-size: 20px;
}

.banner a{
    color: var(--grey-color);
    text-decoration: none;
    display: flex;
    align-items: center;
}

.banner a::after{
    content: url('icons/arrow_right_grey.svg');
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    transition: transform 100ms;
}
.banner a:hover::after{
    transform: translateX(1px);
}


.big-img{
    width: min(100%, 500px);
}

.footer{
    background-color: wheat;
    margin: -8px;
    padding: 16px 24px;
}

.footer a {
    display: flex;
    margin-block: 6px;
}

.footer .copyright{
    text-align: left;
    color: grey;
    margin-bottom: 0;
    margin-top: 32px;
}

.main-content{
    margin-top: 8%;
    margin-inline: 10%;
    min-height: 100vh;
}

.main-content.home{
    margin-top: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.main-content > p, .main-content li{
    max-width: 50%;
}

.name{
    font-size: var(--large-font);
    margin-block: 0;
    text-wrap: balance;
}
.subtitle{
    color: var(--grey-color);
    margin-top: 0;
}

.projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px 16px;
    margin-block: 64px;
}

.project{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 64px;
}

.project img{
    aspect-ratio: 1;
    object-fit: cover;
    height: 300px;
}

.project .info span{
    color: var(--grey-color);
}

.project .info h2{
    margin-block: 0;
}

.project .info p{
    margin-block-start: 0;
    color: var(--grey-color);
    max-width: 300px;
}

.about-links{
    margin-block: 32px;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.cv-section{
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: start;
    margin-block: 48px;
}

.cv-section h2{
    width: 350px;
    margin-block: 0;
    margin-top: 16px;
}

.cv-section .details{
    display: grid;
    grid-template-columns: 250px 1fr;
}

.cv-section .details p:nth-child(3-n){
    margin-top: 0;
}

a img{
    height: 28px;
    width: 28px;
    user-select: none;
    margin: 8px 24px;
}

input, textarea, button{
    border: none;
    font-family: var(--text-font);
    padding: 16px 12px;
    font-size: 24px;
    display: block;
    margin-block: 16px;
    margin-inline: 0;
    width: min(400px, 90%);
}

textarea{
    height: 200px;
    resize: vertical;
}

input:focus, textarea:focus, button:focus{
    outline: 2px solid wheat;
    outline-offset: 1px;
}

button{
    background-color: wheat;
    cursor: pointer;
    width: min(424px, calc(90% + 24px));
    color:#967E40;
}

@media only screen and (max-width: 1750px){
    .project{
        flex-direction: column;
        align-items: start;
    }
}

@media only screen and (max-width: 900px){
    .projects{
        grid-template-columns: 1fr 1fr;
    }

    .cv-section{
        flex-direction: column;
    }

    .cv-section h2{
        width: auto;
    }

    .cv-section .details{
        grid-template-columns: 1fr;
    }

    .cv-section .details p:nth-of-type(odd){
        margin-block: 0;
        color: var(--grey-color);
    }

    .cv-section .details.nogray p:nth-of-type(odd){
        color: initial;
    }

    .cv-section .details p:nth-of-type(even){
        margin-block: 8px 32px;
    }
}

@media only screen and (max-width:600px){

    .main-content.home{
        flex-direction: column-reverse;
        justify-content: start;
        gap: 16px;
    }

    .main-content{
        margin-inline: 16px;
        margin-top: 64px;
    }

    .main-content > p, .main-content li{
        max-width: 90%;
    }

    .name{
        text-wrap: auto;
        word-wrap: anywhere;
    }  

    .projects{
        grid-template-columns: 1fr;
    }
}
