@font-face {
    font-family: Lexend;
    font-weight: bold;
    src: url(fonts/Lexend-Bold.ttf);
}
  
@font-face {
    font-family: Lexend;
    src: url(fonts/Lexend-Regular.ttf);
}


body{
    font-size: 16px;
    color: white;
    font-family: Lexend;
    background-color: #121010;
    
}

.banner{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #303030;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .content{
    margin-left: 8px;
    font-weight: bold;
    margin-right: 16px;
}

.banner .info{
    font-size: 20px;
}

.banner .links a{
    text-decoration: none;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-inline: 4px;
}

.banner .links a span{
    font-size: 18px;
    transition: transform 200ms;
}

.banner .links a:hover span{
    transform: translateX(2px);
}

.footer{
    background-color: #303030;
    margin: -8px;
    padding: 8px 16px;
}

.footer a {
    display: block;
    margin-block: 6px;
    color: white !important;
}

.footer .copyright{
    text-align: center;
    color: grey;
    margin-bottom: 0;
}

a{
    color: wheat;
    text-underline-offset: 2px;
    transition: text-underline-offset 100ms;
}

a:hover{
    text-underline-offset: 4px;
}

a:visited{
    color: wheat;
}


.main-content{
    margin-top: 8%;
    margin-inline: 10%;
    min-height: 100vh;
}

.main-content.home{
    margin-top: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main-content p, .main-content li{
    max-width: 50%;
}

h1.name{
    font-size: 64px;
    margin-block: 0;
    text-wrap: balance;
}

.icons{
    margin-top: 16px;
}

.icons a img:first-of-type{
    margin-left: 0;
}

a img{
    height: 28px;
    width: 28px;
    user-select: none;
    margin: 8px 24px;
}


.image-container{
    text-align: right;
}


.collection{
    position: relative;
    height: 500px;
}

.collection img{
    border-radius: 8px;
    width: 360px;
    height: 240px;
    object-fit: cover;
    position: absolute;
    right: 0;
    border: 2px solid black;
    transition: transform 400ms;
}

.collection img:nth-of-type(1){
    transform: rotate(24deg);
}

.collection img:nth-of-type(2){
    transform: rotate(-6deg);
}

.collection img:nth-of-type(3){
    transform: rotate(6deg);
}

.collection:hover img:nth-of-type(1){
    transform: translate(-100px, -150px) rotate(-2deg);
}   

.collection:hover img:nth-of-type(2){
    transform: translate(16px, 48px) rotate(-6deg);
}   

.collection:hover img:nth-of-type(3){
    transform: translate(-70px, 250px) rotate(4deg);
}   


input, textarea, button{
    border: none;
    font-family: "Lexend";
    padding: 12px 4px;
    font-size: 16px;
    display: block;
    margin-block: 8px;
    margin-inline: 0;
    width: 300px;
}

textarea{
    height: 100px;
    resize: vertical;
}

input:focus, textarea:focus, button:focus{
    outline: 2px solid wheat;
    outline-offset: 1px;
}

button{
    background-color: wheat;
    cursor: pointer;
    width: 308px;
}


@media only screen and (max-width:600px){

    .main-content.home{
        display: block;
        margin-top: 128px;
    }

    .main-content{
        margin-inline: 16px;
        margin-top: 64px;
    }

    .main-content p, .main-content li{
        max-width: 90%;
    }

    .image-container{
        margin-top: 64px;
        text-align: center;
    }

    h1.name{
        font-size: 48px;
        word-wrap: anywhere;
    }

    .collection img{
        width: 260px;
        height: 140px;
        left: 15%;
    }

    .collection:hover img:nth-of-type(1){
        transform: translate(0px, -50px) rotate(0deg);
    }   
    
    .collection:hover img:nth-of-type(2){
        transform: translate(0px, 50px) rotate(0deg);
    }   
    
    .collection:hover img:nth-of-type(3){
        transform: translate(0px, 150px) rotate(0deg);
    }   
    
}
