@media screen and (max-width: 900px) {
  #me {
    display: none;
  }
  .card {
    background-color: #a3ddcb;
    width: 90%;
    padding: 16px;
    margin: auto;
    height: 70vh;
    border-radius: 9px;
  }
  .title {
    font-size: 20px;
    margin: 0;
    padding-top: 6%;
    margin-left: 7%;
    font-family: Montserrat;
    font-size: 60px;
  }

}

@media screen and (max-width: 440px) {
  #addtext {
    display: none;
  }
  #ending {
    display: none;
  }
  .logoimg {
    display: none;
  }
}



.button {
  background-color: blue;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
}

body {
  margin: 0;
}

.title {
  margin: 0;
  padding-top: 5vh;
  margin-left: 7%;
  font-family: Montserrat;
  font-size: 7vh;
}

.main_content {
  height: 100vh;
  background-color: #11698e;
}

.header {
  height: 40vh;
  background-color: powderblue;
}

.title4 {
  font-size: 20px;
  color: grey;
  font-family: Montserrat;
}

.text {
  font-size: 19px;
  color: white;
  font-family: Montserrat;

}

.card {
  background-color: #a3ddcb;
  width: 90%;
  padding: 4%;
  height: 55vh;
  border-radius: 1vh;
  margin: auto;
}


.linktitle {
  font-size: 6.6vh;
  font-family: Montserrat;
  font-weight: 400;
  color: white;
  text-decoration: none;
}

.title3 {
  margin: 0;
  color: grey;
  font-size: 4vh;
  font-family: Montserrat;
}


.title2{
  font-family: Montserrat;
  font-size: 4.5vh;
  color: white;
  margin: 0;
  padding: 16px;

}


@font-face {
  font-family: Montserrat;
  src: url("Montserrat-Light.ttf");
}
