@media screen and (max-width: 1600px) {
  .white-stripe{
    right: 200px !important;
  }
}

@media screen and (max-width:1200px){
  .white-stripe{
    display: none !important;
  }
}

@media screen and (max-width: 900px){
  .blue-stripe{
    width: calc(100vw - 50px) !important;
    right: 0;
    margin-left: 50px !important;

  }
  .big-title{
    margin-left: 50px !important;
  }
  .update{
    margin-left: 50px !important;
  }
  .link-box{
    margin-left: 50px !important;
    margin-bottom: 0 !important;
    position: absolute;
    bottom: 0;
  }
}

@media screen and (max-width: 670px){
  .blue-stripe{
    width: calc(100vw - 50px) !important;
    left: 0;
  }
  .link-box{
    width: 100vw !important;
    margin-left: 0 !important;
    margin-bottom: 0 !important;
  }

}

body{
  height: 100vh;
  width: 100vw;
  background-color: #393e46;
  color: white;
  margin:0;
  overflow: hidden;
}
.big-title{
  font-family: "Fira Mono";
  font-size: 72px;
  margin: 120px 20px 10px 90px;
}
.blue-stripe{
  background-color: #00adb5;
  height: 35px;
  width: 700px;
  margin-left: 90px;
}
.white-stripe{
  background-color: white;
  height: 500px;
  width: 45px;
  position: absolute;
  bottom: 0;
  right: 420px;
}
.wrapper{
  height: 100%;
  width: 100%;
}
.link-box{
  background-color: #222831;
  margin-left: 90px;
  height: 425px;
  width: 700px;
  margin-top: calc(310px - 159px);
  margin-bottom: 0;
  overflow: auto;
  position: absolute;
  bottom: 0;
}
.link{
  margin: 27px 45px;
  display: block;
  color: white;
  text-decoration: none;
  font-family: "Fira Mono";
  font-size: 30px;
}

.link:hover{
  text-decoration: underline 6px #F5EEDC;
}

.bottom{
  position: fixed;
  bottom: 10px;
}
.update{
  font-family: "Fira Mono";
  font-size: 1.5rem;
  margin: 15px 20px 20px 90px;
}
