:root{
    --background-color: #EAE8DD;
    --text-color: black;
    --grey-color: #8a8787;
    --link-color: #658DF3;
    --text-font: "Sen";
    --display-font:"Space Grotesk";
    --large-font: 56px;
    --medium-font: 24px;
    --small-font: 16px;
    --btn-border-width:1px;
    --border-radius: 48px;
}

@media only screen and (max-width: 600px){
    :root{
        --large-font: 40px !important;
        --medium-font: 24px !important;
        --small-font: 16px !important;
        --border-radius: 24px;
    }
}