:root{
    --background-color: #EAE8DD;
    --text-color: black;
    --grey-color: #A8A8A8;
    --link-color: #658DF3;
    --text-font: "DM Sans";
    --display-font:"Prata";
    --large-font: 56px;
    --medium-font: 24px;
    --small-font: 16px;

    --btn-border-width:1px;
}

@media only screen and (max-width: 600px){
    :root{
        --large-font: 40px !important;
        --medium-font: 24px !important;
        --small-font: 16px !important;
    }
}