:root{
    --background-color: #18171A;
    --primary-color: #FF0909;
    --text-font: "Raleway";
    --display-font:"Major Mono Display";
    --large-font: 72px;
    --medium-font: 28px;
    --small-font: 16px;

    --btn-border-width:1px;
}

@media only screen and (max-width: 600px){
    :root{
        --large-font: 48px !important;
        --medium-font: 24px !important;
        --small-font: 16px !important;
    
    }
}