body{
  background-color: #fefac0;
}



.start-data, .correct, .incorrect{
  height: 145px;
  text-align: center;
  padding: calc((100vh/2) - 145px) 0;
  font-family: "Poppins";
}

.start-btn, .false-btn{
  font-family: "Poppins";
  font-size: 16px;
  height: 55px;
  padding: 15px 35px;
  background-color: #6d9886;
  color: white;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 15px;
  box-shadow: 0 7px #999;
}

.start-btn:hover {background-color: #368B85}

.start-btn:active {
  background-color: #368B85;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.name-input{
  height: 25px;
  display: block;
  margin: 20px auto;
  text-align: center;
}
