@media only screen and (max-width: 600px) {
  .question-img{
    margin: 0 !important;
    max-height: 30vh !important;
    max-width: 95vw !important;
    float: none !important;
    text-align: center !important;
  }
  html{
    text-align: center;
  }

}

body{
  font-size: 120%;
}

h1{
  font-family: "Poppins";
  margin: 20px 80px;
  font-weight: 300;
}


.question-img{
  max-height: 600px;
  max-width: 600px;
  margin: 40px 80px 60px 80px;
  display: inline-block;
  float: left;
}
.img-wrapper{
  clear: left;
}
.question{
  padding-top: 40px;
  font-family: "Poppins";
  font-weight: bold;
}
.question-text{
  font-family: "Poppins";
}
.question-link{
  cursor: pointer;
  color: blue;
  text-decoration: underline;
  font-family: "Poppins";
}
.question-input{
  height: 30px;
  margin: 40px 0;
  font-size: 20px;
}
.question-btn{
  height: 40px;
  margin: 40px 10px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0 30px;
  cursor: pointer;
  font-size: 20px;
}
