body{
  background-color: #f5c6a5;
  color: #852747;
}

h1{
  font-family:"ABeeZee", sans-serif;
  margin: 75px 25px 40px 10px;
  font-size: 3rem;
}

table, td, th{
  margin: 0 10px;
  border: thin solid black;
  border-collapse: collapse;
  font-family: sans-serif;
}

p, button, input{
  margin: 8px 10px;
}
