body{
    background-color: #b70f0a;
    color: white;
    font-family: "Josefin Slab", sans-serif;
    text-align: center;
    
}

.wish-container{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
[hidden]{
    display:none;
  }
  