body{
    background-color: black;
    text-align: center;
}

h1{
    font-family: "Tangerine", cursive;
    color: #DEA057;
}

#center{
    height: 390px;
    width: 225px;
    position: absolute;
    top: calc(50% - 195px);
    left: calc(50% - 108px);
    text-align: center;
}