body{
    text-align: center;
    margin: auto;
}

.two-column-layout{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.background{
    background-color:#DFDCC9;
    padding: 8px 16px 16px 16px;
    margin: 8px;
    border-radius: 48px;
}

.background h3{
    font-size: 48px;
    margin: 32px 8px 16px 8px;
}

.chips{
    display: inline-flex;
    gap: 12px;
    align-items: center;
    flex-direction: row;
}

.text{
    color: #706D6D;
    font-size: calc(var(--medium-font) - 4px);
}

.links{
    text-align: start;
}

.links .chip{
    margin-block: 6px;
}


@media only screen and (max-width:1000px){
    .two-column-layout{
        display: block;
    }

    .chips{
        flex-direction: column;
    }

    .background{
        border-radius: 24px;
    }
}
