/* VARIABLES */

:root{
    --primary-color: 80, 155, 250;
    --background-color: 32, 49, 69;
    --text-color: 223, 240, 237;
    --secondary-color: 152, 157, 163;
    --secondary-text-color: 255, 255, 255;
    --highlight-color: #ABCDEF;
    --navbar-color: 32, 49, 80;
    --navbar-text-color: white;
    --main-font: "Atkinson Hyperlegible";
    --outline: 1px solid rgb(var(--primary-color));
}

