@font-face{
    font-family: "Qatar";
    src: url("qatar.ttf") format("truetype");
}
body{
    background-color: #54011b;
    text-align: center;
}
h1, h2, h4, button{
    font-family: "Qatar";
    color: white;
}

button{
    cursor: pointer;
    background-color: white;
    color: #54011b;
    height: 50px;
    width: 250px;
    border: 1px solid black;
    outline: none;
    box-shadow: 6px 6px 0px -3px rgba(255,255,255,1);
    transition: transform 0.5s, box-shadow 0.5s;
}

button:hover{
    box-shadow: 4px 4px 0px -3px rgba(255,255,255,1);
    transform: translateX(2px) translateY(-2px);
}

button:focus{
    box-shadow: 1px 1px 0px -3px rgba(255,255,255,1);
    transform: translateX(5px) translateY(-5px);

}