@media only screen and (max-width: 1050px) {

    body{
        margin: 30px 0 !;
    }
    .detail-div{
        position: static !important;

    }
    .title-div{
        margin: auto !important;
        padding: 10px !important;
        width: 80% !important;
        text-align: center !important;
    }
    .text-container{
        margin: auto !important;
        text-align: center !important;
    }

    .text-container p{
        max-width: 75% !important;
        text-align: center !important;
        margin: auto !important;
    }
    .text-container h1{
        text-align: center !important;
    }
    .text-container img{
        margin: auto !important;
        text-align: center !important;
    }
    .container{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        flex-direction: column-reverse !important;
        
    }
    .text-container img{
        max-height: 600px;
        max-width: 90%;

    }

    .detail-div{
        margin: auto !important;
        margin-top: 50px !important;
        margin-bottom: 50px !important;
        padding: auto !important;
        width: 60% !important;
    }

}
.container{
    display: grid;
    grid-template-columns: auto min-content;
}

.text-container{
    text-align: start;
    margin: 50px;
}

.text-container h1{
    font-size: 60px;
    text-decoration: none;
}

.text-container p{
    max-width: 600px;
}


.title-div{
    display: block;
    background-color: white;
    border: 1px solid black;
    box-shadow: 6px 6px 0px 0px rgba(255,255,255,1);
    color: #3e1c1c;
    height: min-content;
    width: min-content;
    padding: 0 50px;
    padding-right: 150px;
    transition: box-shadow 0.3s, transform 0.3s;

}

.title-div:hover{
    box-shadow: 10px 10px 0px 0px rgba(255,255,255,1);
    transform: translateX(-4px) translateY(-4px);
}

.detail-div{

    text-align: start;
    background-color: white;
    border: 1px solid black;
    box-shadow: 6px 6px 0px 0px rgba(255,255,255,1);
    color: #3e1c1c;
    width: max-content;
    height: min-content;
    margin: 50px;
    padding: 20px;
    padding-right: 75px;
    align-self:flex-start;
    position: fixed;
    right: 10px;
    transition: transform 0.3s, box-shadow 0.3s;

}

.detail-div:hover{
    box-shadow: 4px 4px 0px 0px rgba(255,255,255,1);
    transform: translateX(2px) translateY(2px);
}

.detail-div > h2{
    font-family: "Orelega One", serif;
    font-size: 45px;
    margin-bottom: 12px;
}

.detail-div > p {
    margin: 2px 8px;
    margin-left: 2px;
}

a{
    color: white;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    transition: color 0.3s;
}
a:hover{
    color: #A7D2CB;
    text-decoration-color: #A7D2CB;
}

.detail-div > a{
    color: #3e1c1c;
    display: block;
    transition: color 0.3s;


}

.detail-div > a:hover{
    text-decoration-color: #A7D2CB;
    color: #A7D2CB;
}

.container{
    overflow: auto;
}