body{
    font-family: 'Montserrat', serif;
    font-size: 20px;
    background-color: #f8ffdb;
    text-align: center;
}


h1{
    font-family: "Newsreader", cursive;
}

button{
    font-family: "Montserrat";
    border: none;
    height: 55px;
    width: 80%;
    border-radius: 8px;
    color: white;
    font-size: 20px;
    background: linear-gradient(45deg, #7bbabb, #d68a8a);

    -webkit-box-shadow: 0px 0px 71px -23px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 71px -23px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 71px -23px rgba(0,0,0,0.75);

}