@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&family=Bebas+Neue&family=Lora:ital@1&display=swap');

::selection {
    background: var(--highlight-color);
}

/* RESPONSIVE CSS */

@media only screen and (max-width: 700px) {
    .navbar .options{
        display: none !important;
    }

    .popup{
        max-width: 92% !important;
    }

}


/* BODY */
  
body, html{
    background: rgb(var(--background-color));
    font-family: var(--main-font);
    margin: 4px 16px;
    color: rgb(var(--text-color));
    transition: background-color 100ms, color 100ms;
    -webkit-transition: background-color 100ms;
    -o-transition: background-color 100ms;
    -moz-transition: background-color 100ms;
    scroll-behavior: smooth;
}


/* NAVBAR */

.navbar{
    margin: 0;
    /* background-color: rgba(var(--primary-color), 0.95); */
    background: rgba(var(--background-color), 0.9);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(6px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: var(--navbar-text-color);
    padding: 8px 16px;
    z-index: 100;    
}

.navbar h1 {
    font-size: 1.5rem;
    display: inline;
    vertical-align: middle;
    overflow-wrap: anywhere;
}

.navbar * {
    display: inline;
    vertical-align: middle;
}

.navbar .nav-logo {
    user-select: none;
    cursor: pointer;
    background-color: transparent;
    max-height: 50px;
    max-width: 50px;
    display: inline;
    vertical-align: middle;
    margin-right: 16px;
}


.navbar .navbar-content{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.navbar .options {
    display: inline-flex;
    align-items:flex-end;
}

.options > a {
    color: rgb(var(--navbar-text-color));
    margin: 0 8px;
    font-size: inherit;
}


/* UI COMPONENTS */

a{
    color: rgb(var(--primary-color));
    transition: all 200ms;
    border-radius: 6px;
    padding: 4px 8px;
    margin: 8px 0;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    text-decoration: none;
}

a > i {
    margin-right: 4px;
}


a:hover{
    background-color: rgba(var(--primary-color));
    color: rgb(var(--secondary-text-color));

    /* text-decoration: none; */
}

a:focus{
    outline: 1px solid rgb(var(--primary-color));
}


button, .link-button{
    height: 40px;
    border-radius: 6px;
    padding: 8px 12px;
    border: none;
    box-sizing: border-box;
    transition: all 200ms;
    font-family: var(--main-font);
    font-size: 16px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    margin-top: 6px;
    margin-bottom: 7px;
    justify-content: center;
    user-select: none;
}

.link-button{
    padding: 0 12px;
}

button:hover, .link-button:hover{
    opacity: 0.9;
    box-shadow: 0px 0px 10px 10px rgb(var(--primary-color), 0.1);
    color: rgb(var(--secondary-text-color));

}

button:active, .link-button:active{
    box-shadow: 0px 0px 20px 10px rgb(var(--primary-color), 0.2);
}

button:focus, .link-button:focus{
    outline: var(--outline);
}

.filled, .link-button{
    text-decoration: none;
    background-color: rgb(var(--primary-color));
    color: rgb(var(--secondary-text-color));
}

.outlined{
    background-color: transparent;
    border: 1px solid rgba(var(--primary-color), 0.9);
    color: rgba(var(--primary-color), 0.9);
}

.outlined:hover{
    background-color: rgba(var(--primary-color), 0.9);
    color: rgb(var(--secondary-text-color));
    opacity: 1;
}

.disabled{
    opacity: 0.3;
    pointer-events: none;
    cursor: pointer !important;
}

/* Use this only with .secondary */
.primary{
    margin-bottom: 0;
}

.secondary{
    margin-top: 0;
    color: rgb(var(--secondary-color));
    font-weight: 800;
}

.title-font{
    font-family: var(--title-font);
}

input, textarea{
    font-family: var(--main-font);
    border: var(--outline);
    border-radius: 6px;
    font-size: 16px;
    accent-color: rgb(var(--primary-color));
    margin-top: 6px;
    margin-bottom: 6px;
    width: auto;
    color: rgb(var(--primary-color));
    background: transparent;
    box-shadow: 0 4px 30px rgba(rgb(var(--background-color)), 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding-left: 8px;
}

textarea{
    resize: vertical;
    padding: 4px 2px;
    /* These weird numbers are actually 230 - 8 and 40 - 8 px */
    width: auto;
    min-height: 32px;
}

input[type="text"], input[type="email"], input[type="password"]{
    height: 36px;    
}

/* You'll probably want to use these as blocks */
input[type="email"], input[type="password"]{
    display: block;
}

input:focus{
    outline: var(--outline);
}


input[type="checkbox"], input[type="radio"]{
    outline: none;
    margin-top: 8px;
    margin-bottom: 8px;
    -ms-transform: scale(1.7); /* IE 9 */
    -webkit-transform: scale(1.7); /* Chrome, Safari, Opera */
    transform: scale(1.7);
    margin-right: 16px;
}

input[type="range"], input[type="range"]:focus, input[type="range"]:active{
    display: block;
    outline: none;
    width: min(300px, 100%);
}

label {
    user-select: none;
}

img{
    border-radius: 6px;
    transition: all 100ms linear;
}

img:hover{
    opacity: 0.9;
}

.no-style, .no-style:hover{
    all: unset;
    border-radius: 6px;
}

.popup{
    text-align: center;
    outline: var(--outline);
    padding: 12px 12px;
    width: max-content;
    max-width: 50%;
    color: rgb(var(--primary-color));
    text-align: center;
    border-radius: 6px;
    transition: all 100ms linear;
    margin: 8px auto;
    cursor: pointer;
}

.popup:hover{
    background-color: rgba(var(--primary-color), 0.1);
}

.popup::before{
    content: "ⓘ";
    margin-right: 8px;
}

.popup ul, .popup ol{
    text-align: start;
}

.error{
    color: rgb(var(--red-color));
    outline-color: rgb(var(--red-color));
}

.error::before{
    content: "⚠";
}

.error:hover{
    background-color: rgba(255, 0, 0, 0.1);
}

.warning{
    color: orange;
    outline-color: orange;
}

.warning::before{
    content: "⚠";
}

.warning:hover{
    background-color: rgba(255, 165, 0, 0.1);
}

.material-icons{
    user-select: none;
}

.expanded{
    width: 100%;
}

.primary-color{
    color: rgb(var(--primary-color));
}

.main-font{
    font-family: var(--main-font) !important;
}